<script lang="ts">
	import '../app.postcss';
	import { AppBar, LightSwitch, ProgressBar } from '@skeletonlabs/skeleton';

	import { navigating } from '$app/stores';
	import { PROJECT_NAME } from '$lib/config';
</script>

<div class="grid grid-rows-[auto_1fr_auto] min-h-[100vh]">
	<AppBar
		class="sticky top-0 z-10 border-b border-surface-500/10"
		regionRowMain="container mx-auto"
		gridColumns="grid-cols-3"
		slotDefault="place-self-center"
		slotTrail="place-content-end"
	>
		<svelte:fragment slot="lead">
			<span />
		</svelte:fragment>
		<h1 class="h2 font-bold"><a href="/">{PROJECT_NAME}</a></h1>
		<svelte:fragment slot="trail">
			<LightSwitch />
		</svelte:fragment>
	</AppBar>
	<main class="container mx-auto">
		<slot />
	</main>
	<footer class="variant-soft-surface border-t border-surface-500/10 p-4">
		<section
			class="container mx-auto flex flex-col md:flex-row justify-between items-center md:items-start gap-4"
		>
			<div>
				<div class="flex flex-col md:flex-row items-center md:gap-4">
					<a class="anchor font-bold" href="/about-us">About us</a>
				</div>
			</div>
			<div>
				<p class="font-bold text-center">Find us on Telegram:</p>
				<div class="flex flex-row items-center gap-4">
					<a class="anchor font-bold" href="https://t.me/EurofursEvents">Announcements</a>
					<a class="anchor font-bold" href="https://t.me/eurofurs" target="_blank">Chat</a>
				</div>
			</div>
		</section>
		<section
			class="container mx-auto mt-4 flex flex-col md:flex-row justify-between items-center md:items-start"
		>
			<p>© 2023 Eurofurs Events</p>
			<p class="flex gap-4">
				<a class="anchor font-bold" href="/COPYING.txt">License</a>
				<a class="anchor font-bold" href="https://gitlab.com/eurofurs-eu/eurofurs-events">Source</a>
			</p>
		</section>
	</footer>
</div>

{#if $navigating}
	<ProgressBar
		class="fixed top-0 left-0 right-0 z-20"
		height="h-1"
		rounded=""
		meter="bg-secondary-700-200-token"
	/>
{/if}
