<script lang="ts">
	import EventGrid from '$lib/components/event-grid.svelte';
	import { PROJECT_NAME } from '$lib/config';

	import type { PageData } from './$types';

	export let data: PageData;
</script>

<svelte:head>
	<title>{PROJECT_NAME}</title>
	<meta name="description" content="List of European furry conventions" />
</svelte:head>

{#if data.current.length > 0}
	<h2 class="h2 m-4 font-bold text-center variant-soft-surface rounded-lg p-4">Current</h2>

	<EventGrid class="m-4" events={data.current} />
{/if}

{#if data.upcoming.length > 0}
	<h2 class="h2 m-4 font-bold text-center variant-soft-surface rounded-lg p-4">Upcoming</h2>

	<EventGrid class="m-4" events={data.upcoming} />
{/if}

{#if data.past.length > 0}
	<h2 class="h2 m-4 font-bold text-center variant-soft-surface rounded-lg p-4">Past</h2>

	<EventGrid class="m-4" events={data.past} />
{/if}

{#if data.current.length === 0 && data.upcoming.length === 0 && data.past.length === 0}
	<h2 class="h2 m-4 font-bold text-center variant-soft-surface rounded-lg p-4">No events found</h2>
{/if}
