<script lang="ts">
	import { PROJECT_NAME } from '$lib/config';
	import Breadcrumbs from '$lib/components/breadcrumbs.svelte';
	import Icon from 'svelte-awesome';
	import { faEarthEurope } from '@fortawesome/free-solid-svg-icons/faEarthEurope';
	import { faComments } from '@fortawesome/free-solid-svg-icons/faComments';
	import { faFlask } from '@fortawesome/free-solid-svg-icons/faFlask';
	import { faHome } from '@fortawesome/free-solid-svg-icons/faHome';
</script>

<svelte:head>
	<title>{PROJECT_NAME} - About us</title>
	<meta name="description" content="About us" />
</svelte:head>

<div class="m-4">
	<Breadcrumbs crumbs={[{ name: 'About us' }]} />
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 m-4">
	<div class="flex flex-col gap-4">
		<h2 class="h2 font-bold text-center variant-soft-surface rounded-lg p-4">About Eurofurs</h2>

		<div class="p-6 space-y-2 variant-filled-surface rounded-lg">
			<p class="text-xl font-bold">
				Started in January 2021 as a Telegram group chat, Eurofurs was an attempt to fill the niche
				of a general chat catered to and ran by European furries. The focus was primarily on serving
				the needs of a tightly knit group of friends.
			</p>
			<p class="text-xl font-bold">
				With the launch of Eurofurs Events at the start of 2022, we expanded our scope to include
				promoting European furry conventions.
			</p>
		</div>
	</div>
	<div class="flex flex-col gap-4">
		<h2 class="h2 font-bold text-center variant-soft-surface rounded-lg p-4">Our goals</h2>

		<div class="p-6 variant-filled-surface rounded-lg flex items-center text-xl font-bold gap-6">
			<span class="flex-auto">
				Encouraging collaboration and mutual aid beyond national borders
			</span>
			<span class="badge p-3 variant-filled-secondary">
				<Icon class="w-auto aspect-square" scale={2} data={faEarthEurope} />
			</span>
		</div>

		<div class="p-6 variant-filled-surface rounded-lg flex items-center text-xl font-bold gap-6">
			<span class="flex-auto">Promoting open and respectful discussions</span>
			<span class="badge p-3 variant-filled-secondary">
				<Icon class="h-auto aspect-square" scale={2} data={faComments} />
			</span>
		</div>

		<div class="p-6 variant-filled-surface rounded-lg flex items-center text-xl font-bold gap-6">
			<span class="flex-auto">
				Developing and improving platforms and services for the European furry community
			</span>
			<span class="badge p-3 variant-filled-secondary">
				<Icon class="w-auto aspect-square" scale={2} data={faFlask} />
			</span>
		</div>

		<div class="p-6 variant-filled-surface rounded-lg flex items-center text-xl font-bold gap-6">
			<span class="flex-auto">Welcoming and supporting new members of our community</span>
			<span class="badge p-3 variant-filled-secondary">
				<Icon class="h-auto aspect-square" scale={2} data={faHome} />
			</span>
		</div>
	</div>
</div>
