<script lang="ts">
	import Icon from 'svelte-awesome';
	import { faHome } from '@fortawesome/free-solid-svg-icons/faHome';

	export let crumbs: { name: string; href?: string }[];
</script>

<ol class="breadcrumb bg-surface-100-800-token rounded-lg p-4">
	<li class="crumb"><a class="anchor" href="/"><Icon label="Home" data={faHome} /></a></li>
	{#each crumbs as crumb}
		<li class="crumb-separator" aria-hidden="true">&rsaquo;</li>
		<li>
			{#if crumb.href}
				<a class="anchor" href={crumb.href}>{crumb.name}</a>
			{:else}
				{crumb.name}
			{/if}
		</li>
	{/each}
</ol>
