<script lang="ts" context="module">
	import { RegistrationStatus, EventType, regStatusNames } from '../models';

	export interface Registration {
		message: string | null;
		opensAt: string | null;
		status: RegistrationStatus;
	}

	export interface Venue {
		name: string;
		city: string;
		country: string;
	}

	export interface EventCardData {
		id: number;
		name: string;
		type: EventType;
		from: string | null;
		to: string | null;
		organizer: string;
		attendees: number;
		cost: number;
		international: boolean;
		registration: Registration;
		venue: Venue;
		links: { name: string; url: string }[];
		color: string | null;
	}
</script>

<script lang="ts">
	import { faCalendar } from '@fortawesome/free-regular-svg-icons/faCalendar';
	import { faTicket } from '@fortawesome/free-solid-svg-icons/faTicket';
	import { faClipboard } from '@fortawesome/free-regular-svg-icons/faClipboard';
	import { faLocationDot } from '@fortawesome/free-solid-svg-icons/faLocationDot';
	import { faUsers } from '@fortawesome/free-solid-svg-icons/faUsers';
	import { faEuroSign } from '@fortawesome/free-solid-svg-icons/faEuroSign';
	import { faGlobe } from '@fortawesome/free-solid-svg-icons/faGlobe';
	import { faHome } from '@fortawesome/free-solid-svg-icons/faHome';

	import Icon from 'svelte-awesome';
	import { eventTypeNames } from '../models';
	import { dateRange, dateTime } from '$lib/fmt';
	import { fgCol, hexToRgb } from '$lib/color';

	export let hover: boolean = false;
	export let data: EventCardData;
	let className: string | undefined = undefined;
	export { className as class };

	const now = new Date();

	let fg: string | undefined = undefined;
	if (data.color) {
		const parsedColor = hexToRgb(data.color);
		if (parsedColor) {
			fg = fgCol(parsedColor, 'rgb(var(--color-surface-900))', 'rgb(var(--color-surface-50))');
		}
	}

	const href = `/event/${data.id}`;

	const regText = (reg: Registration): string => {
		if (reg.message) {
			return reg.message;
		}

		if (reg.status === RegistrationStatus.Closed && reg.opensAt) {
			return `Opens at ${dateTime(reg.opensAt)}`;
		}

		return regStatusNames[reg.status];
	};

	const venueText = (venue: Venue): string =>
		[venue.name, venue.city, venue.country].filter((entry) => entry.trim() !== '').join(', ');
</script>

<div
	class:card-hover={hover}
	class={`${className ?? ''} card variant-filled-surface`}
	style:background-color={data.color ? data.color : undefined}
	style:color={fg}
>
	<a {href} aria-label={data.name} class="block p-4 space-y-4">
		<div class="flex items-center">
			<h2 class="h6 flex-auto">{eventTypeNames[data.type] ?? 'Unknown type'}</h2>
			{#if data.international}
				<span class="chip font-sm font-bold variant-ghost-success">
					<Icon data={faGlobe} />
					<span>International</span>
				</span>
			{:else}
				<span class="chip font-sm font-bold variant-ghost-warning">
					<Icon data={faHome} />
					<span>Local</span>
				</span>
			{/if}
		</div>
		<h2 class="h3 font-bold">{data.name}</h2>
		<dl class="list-dl">
			<div>
				<span class="flex-auto">
					<dt class="text-sm">Dates</dt>
					<dd class="font-bold">{dateRange(data.from, data.to)}</dd>
				</span>
				<span class="badge p-3 variant-filled-secondary">
					<Icon class="w-auto aspect-square" data={faCalendar} />
				</span>
			</div>
			{#if data.registration.status !== RegistrationStatus.Unknown && (!data.to || now <= new Date(data.to))}
				<div>
					<span class="flex-auto">
						<dt class="text-sm">Registration</dt>
						<dd class="font-bold">{regText(data.registration)}</dd>
					</span>
					<span
						class="badge p-3"
						class:variant-filled-success={[
							RegistrationStatus.Open,
							RegistrationStatus.NoReg
						].includes(data.registration.status)}
						class:variant-filled-error={data.registration.status === RegistrationStatus.Closed}
					>
						<Icon class="w-auto aspect-square" data={faClipboard} />
					</span>
				</div>
			{/if}
			{#if data.cost >= 0}
				<div>
					<span class="flex-auto">
						<dt class="text-sm">Cost</dt>
						<dd class="font-bold" class:font-mono={data.cost > 0}>
							{#if data.cost > 0}
								€{data.cost}
							{:else}
								No entry fee
							{/if}
						</dd>
					</span>
					<span class="badge p-3 variant-filled-secondary">
						<Icon class="w-auto aspect-square" data={faEuroSign} />
					</span>
				</div>
			{/if}
			{#if data.attendees > 0}
				<div>
					<span class="flex-auto">
						<dt class="text-sm">Attendees</dt>
						<dd class="font-bold font-mono">{data.attendees}</dd>
					</span>
					<span class="badge p-3 variant-filled-secondary">
						<Icon class="h-auto aspect-square" data={faUsers} />
					</span>
				</div>
			{/if}
			{#if data.type !== EventType.Convention}
				<div>
					<span class="flex-auto">
						<dt class="text-sm">Organized By</dt>
						<dd class="font-bold">{data.organizer}</dd>
					</span>
					<span class="badge p-3 variant-filled-secondary">
						<Icon class="h-auto aspect-square" data={faTicket} />
					</span>
				</div>
			{/if}
			<div>
				<span class="flex-auto">
					<dt class="text-sm">Venue</dt>
					<dd class="font-bold">{venueText(data.venue)}</dd>
				</span>
				<span class="badge p-3 variant-filled-secondary">
					<Icon class="w-auto aspect-square" data={faLocationDot} />
				</span>
			</div>
		</dl>
	</a>
	{#if data.links.length > 0}
		<hr />
		<footer
			class="variant-filled-surface rounded-bl-container-token rounded-br-container-token p-4 flex flex-wrap flex-row-reverse content-center gap-2"
		>
			{#each data.links as link}
				<a class="chip font-bold variant-filled-primary" href={link.url}>{link.name}</a>
			{/each}
		</footer>
	{/if}
</div>
