<script lang="ts">
	import EventCard, { type EventCardData } from '$lib/components/event-card.svelte';

	export let events: EventCardData[];
	export let gap: number = 4;
	export let className: string | undefined = undefined;
	export { className as class };
</script>

{#if events.length > 0}
	<div
		class="grid gap-{gap} items-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 {className ??
			''}"
	>
		{#each events as event}
			<EventCard hover data={event} />
		{/each}
	</div>
{/if}
