<script lang="ts">
	import { PROJECT_NAME } from '$lib/config';
	import Breadcrumbs from '$lib/components/breadcrumbs.svelte';
</script>

<svelte:head>
	<title>{PROJECT_NAME} - Login</title>
	<meta name="description" content="Login" />
</svelte:head>

<div class="m-4">
	<Breadcrumbs crumbs={[{ name: 'Login' }]} />
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 m-4">
	<div class="flex flex-col gap-4">
		<h2 class="h2 font-bold text-center variant-soft-surface rounded-lg p-4">Coming Soon</h2>

		<div class="p-4 variant-filled-surface rounded-lg">
			<p class="text-xl">
				Logging in will let you organize your own events and manage the ones you're responsible for
				from this interface. We're still working out the details.
			</p>
			<p class="text-xl">If you're already an event organizer, use our dashboard.</p>
		</div>
	</div>
</div>
