<script lang="ts">
	import type { PageData } from './$types';
	import Icon from 'svelte-awesome';
	import { faLocationDot } from '@fortawesome/free-solid-svg-icons/faLocationDot';
	import { faCity } from '@fortawesome/free-solid-svg-icons/faCity';
	import { faFlag } from '@fortawesome/free-solid-svg-icons/faFlag';
	import { faLink } from '@fortawesome/free-solid-svg-icons/faLink';
	import { faBullhorn } from '@fortawesome/free-solid-svg-icons/faBullhorn';
	import { RegistrationStatus, eventTypeNames } from '$lib/models';
	import { fgCol, hexToRgb } from '$lib/color';
	import { dateRange, dateTime, dayCount, fmtUrl } from '$lib/fmt';
	import { PROJECT_NAME } from '$lib/config';
	import { Avatar } from '@skeletonlabs/skeleton';
	import Breadcrumbs from '$lib/components/breadcrumbs.svelte';

	export let data: PageData;

	const now = new Date();

	const bg = data.event.organizer.brand_color;
	let fg: string | undefined = undefined;
	if (bg) {
		const parsedColor = hexToRgb(bg);
		if (parsedColor) {
			fg = fgCol(parsedColor, 'rgb(var(--color-surface-900))', 'rgb(var(--color-surface-50))');
		}
	}

	const regStatus = data.event.registration.status;

	const [lat, lon] = [data.event.venue.coords?.lat, data.event.venue.coords?.lon];
	const mapZoom = 0.0005;
</script>

<svelte:head>
	<title>{PROJECT_NAME} - {data.event.name}</title>
	{#if data.event.description}
		<meta name="description" content={data.event.description} />
	{:else}
		<meta name="description" content={`Information about ${data.event.name}`} />
	{/if}
</svelte:head>

<div class="m-4">
	<Breadcrumbs crumbs={[{ name: 'Events', href: '/' }, { name: data.event.name }]} />
</div>

<div class="grid grid-cols-1 xl:grid-cols-3 gap-4 items-start m-4">
	{#if data.event.banner}
		<div class="xl:col-span-2 xl:order-last">
			<img
				class="h-auto w-full rounded-lg"
				alt={`Banner graphic for ${data.event.name}`}
				src={data.event.banner}
			/>
		</div>
	{:else}
		<div
			class="h-auto aspect-video rounded-lg variant-ghost-secondary xl:col-span-2 xl:order-last flex flex-col justify-center"
		>
			<h2 class="h1 font-bold text-center p-4">{data.event.name}</h2>
		</div>
	{/if}
	<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-1 gap-4">
		<div
			class="space-y-4 variant-filled-surface rounded-lg py-4"
			style:background-color={bg ? bg : undefined}
			style:color={fg}
		>
			<h2 class="h3 font-bold text-center px-4">{eventTypeNames[data.event.type]}</h2>
			{#if data.event.banner}
				<h2 class="h2 font-bold text-center px-4">{data.event.name}</h2>
			{/if}
			<hr />
			{#if data.event.description}
				<p class="text-xl px-4">{data.event.description}</p>
			{:else}
				<p class="text-xl px-4">We have no description for this event</p>
			{/if}
		</div>
		<div class="space-y-4 variant-filled-surface rounded-lg py-4">
			<h2 class="h3 text-center font-bold px-4">Links</h2>
			<hr />
			{#if data.event.links.length > 0}
				<dl class="list-dl px-4">
					{#each data.event.links as link}
						<div>
							<span class="flex-auto">
								<dt class="text-sm">{link.name}</dt>
								<dd class="font-bold">
									<a class="anchor" href={link.url}>
										{fmtUrl(new URL(link.url))}
									</a>
								</dd>
							</span>
							<span
								class="badge flex justify-center items-center w-12 h-12 text-xl variant-filled-secondary"
							>
								{link.emoji}
							</span>
						</div>
					{/each}
				</dl>
			{:else}
				<p class="text-xl px-4">We have no external links for this event</p>
			{/if}
		</div>
	</div>
</div>

<div
	class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 items-start m-4"
>
	{#if data.event.from || data.event.to}
		<div class="space-y-4 variant-ghost-secondary rounded-lg pb-4">
			<h2 class="h3 text-center font-bold p-4 variant-ghost-secondary rounded-lg">Dates</h2>
			<p class="text-lg text-center font-bold px-4">
				{dateRange(data.event.from, data.event.to)}
			</p>
			{#if data.event.from && data.event.to}
				<p class="text-center px-4">{dayCount(data.event.from, data.event.to)} day event</p>
			{/if}
		</div>
	{:else}
		<div class="space-y-4 variant-ghost-warning rounded-lg pb-4">
			<h2 class="h3 text-center font-bold p-4 variant-ghost-warning rounded-lg">Dates unknown</h2>
			<p class="text-xl px-4">We have no dates for this event</p>
		</div>
	{/if}
	<div class="space-y-4 variant-ghost-secondary rounded-lg pb-4">
		<h2 class="h3 text-center font-bold p-4 variant-ghost-secondary rounded-lg">Location</h2>
		<p class="text-lg text-center font-bold px-4">
			{#if data.event.venue.city}
				{data.event.venue.city},
			{/if}
			{data.event.venue.country.name}
		</p>
	</div>
	{#if data.event.international}
		<div class="space-y-4 variant-ghost-success rounded-lg pb-4">
			<h2 class="h3 text-center font-bold p-4 variant-ghost-success rounded-lg">International</h2>
			<p class="text-xl px-4">
				This event is aimed towards international attendees. Panels and information are in English.
			</p>
		</div>
	{:else}
		<div class="space-y-4 variant-ghost-warning rounded-lg pb-4">
			<h2 class="h3 text-center font-bold p-4 variant-ghost-warning rounded-lg">Local event</h2>
			<p class="text-xl px-4">
				This event is aimed towards locals. International attendees may face language barriers.
			</p>
		</div>
	{/if}
	{#if !data.event.to || now <= new Date(data.event.to)}
		<div
			class="space-y-4 rounded-lg pb-4"
			class:variant-ghost-success={[RegistrationStatus.Open, RegistrationStatus.NoReg].includes(
				regStatus
			)}
			class:variant-ghost-warning={regStatus === RegistrationStatus.Unknown}
			class:variant-ghost-error={regStatus === RegistrationStatus.Closed}
		>
			<h2
				class="h3 text-center font-bold p-4 rounded-lg"
				class:variant-ghost-success={[RegistrationStatus.Open, RegistrationStatus.NoReg].includes(
					regStatus
				)}
				class:variant-ghost-warning={regStatus === RegistrationStatus.Unknown}
				class:variant-ghost-error={regStatus === RegistrationStatus.Closed}
			>
				{#if regStatus === RegistrationStatus.Open}
					Registration open
				{:else if regStatus === RegistrationStatus.NoReg}
					No registration
				{:else if regStatus === RegistrationStatus.Closed}
					Registration closed
				{:else}
					Unknown registration
				{/if}
			</h2>
			<p class="text-xl px-4">
				{#if data.event.registration.message}
					{data.event.registration.message}
				{:else if regStatus === RegistrationStatus.Open}
					Registration for this event is currently open
				{:else if regStatus === RegistrationStatus.NoReg}
					This event does not require registration
				{:else if regStatus === RegistrationStatus.Closed}
					{#if data.event.registration.open}
						Registration for this event is scheduled to open at
						<span class="font-bold">{dateTime(data.event.registration.open)}</span>
					{:else}
						Registration for this event is currently closed
					{/if}
				{:else}
					We have no information about registration for this event
				{/if}
			</p>
			{#if regStatus === RegistrationStatus.Open && data.event.registration.url}
				<a
					class="btn font-bold text-lg text-center block variant-filled-success mx-4"
					href={data.event.registration.url}>Register</a
				>
			{/if}
		</div>
	{:else}
		<div class="space-y-4 variant-ghost-secondary rounded-lg pb-4">
			<h2 class="h3 text-center font-bold p-4 variant-ghost-secondary rounded-lg">
				No registration
			</h2>
			<p class="text-xl px-4">This event has concluded</p>
		</div>
	{/if}
	<div
		class="space-y-4 rounded-lg pb-4"
		class:variant-ghost-warning={data.event.cost < 0}
		class:variant-ghost-success={data.event.cost === 0}
		class:variant-ghost-secondary={data.event.cost > 0}
	>
		<h2
			class="h3 text-center font-bold p-4 rounded-lg"
			class:variant-ghost-warning={data.event.cost < 0}
			class:variant-ghost-success={data.event.cost === 0}
			class:variant-ghost-secondary={data.event.cost > 0}
		>
			{#if data.event.cost < 0}
				Unknown cost
			{:else if data.event.cost === 0}
				No attendance fee
			{:else}
				Cost: <span class="font-mono">€{data.event.cost}</span>
			{/if}
		</h2>
		<p class="text-xl px-4">
			{#if data.event.cost < 0}
				We have no cost estimate for this event
			{:else if data.event.cost === 0}
				This event does not charge for attendance
			{:else}
				Our cost estimate includes <span class="font-bold">attendance fee</span>
				and
				<span class="font-bold">accommodation</span> for the event duration
			{/if}
		</p>
	</div>
	<div
		class="space-y-4 rounded-lg pb-4"
		class:variant-ghost-secondary={data.event.attendees > 0}
		class:variant-ghost-warning={data.event.attendees <= 0}
	>
		<h2
			class="h3 text-center font-bold p-4 rounded-lg"
			class:variant-ghost-secondary={data.event.attendees > 0}
			class:variant-ghost-warning={data.event.attendees <= 0}
		>
			{#if data.event.attendees > 0}
				<span class="font-mono">{data.event.attendees}</span> attendees
			{:else}
				Unknown attendance
			{/if}
		</h2>
		<p class="text-xl px-4">
			{#if data.event.attendees > 0}
				We estimate attendance based on previous installments of this event
			{:else}
				We have no estimate for this event's attendance
			{/if}
		</p>
	</div>
</div>

<div class="grid grid-cols-1 xl:grid-cols-3 gap-4 items-start mx-4 mb-4">
	<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-1 gap-4 items-start">
		<div class="space-y-4 variant-filled-surface rounded-lg py-4">
			<h2 class="h4 font-bold text-center px-4">Venue</h2>
			<h2 class="h3 font-bold pr-4 pl-6">{data.event.venue.name}</h2>
			<hr />
			<dl class="list-dl px-4">
				{#if data.event.venue.address}
					<div>
						<span class="flex-auto">
							<dt class="text-sm">Address</dt>
							<dd class="font-bold">{data.event.venue.address}</dd>
						</span>
						<span class="badge p-3 variant-filled-secondary">
							<Icon class="w-auto aspect-square" data={faLocationDot} />
						</span>
					</div>
				{/if}
				{#if data.event.venue.city}
					<div>
						<span class="flex-auto">
							<dt class="text-sm">City</dt>
							<dd class="font-bold">{data.event.venue.city}</dd>
						</span>
						<span class="badge p-3 variant-filled-secondary">
							<Icon class="h-auto aspect-square" data={faCity} />
						</span>
					</div>
				{/if}
				<div>
					<span class="flex-auto">
						<dt class="text-sm">Country</dt>
						<dd class="font-bold">{data.event.venue.country.name}</dd>
					</span>
					<span class="badge p-3 variant-filled-secondary">
						<Icon class="w-auto aspect-square" data={faFlag} />
					</span>
				</div>
			</dl>
		</div>
		<div
			class="space-y-4 variant-filled-surface rounded-lg py-4"
			style:background-color={bg ? bg : undefined}
			style:color={fg}
		>
			<h2 class="h4 font-bold text-center px-4">Organizer</h2>
			<div class="flex items-center gap-4 pr-4 pl-6">
				{#if data.event.organizer.logo}
					<Avatar src={data.event.organizer.logo} width="w-16" rounded="rounded-lg" />
				{/if}
				<div class="flex-auto">
					<h2 class="h3 font-bold">{data.event.organizer.name}</h2>
				</div>
			</div>
			<hr />
			<dl class="list-dl px-4">
				{#if data.event.organizer.url}
					<div>
						<span class="flex-auto">
							<dt class="text-sm">Website</dt>
							<dd class="font-bold">
								<a class="anchor" href={data.event.organizer.url}>
									{new URL(data.event.organizer.url).hostname}
								</a>
							</dd>
						</span>
						<span class="badge p-3 variant-filled-secondary">
							<Icon class="h-auto aspect-square" data={faLink} />
						</span>
					</div>
				{/if}
				{#if data.event.organizer.announcements}
					<div>
						<span class="flex-auto">
							<dt class="text-sm">Announcements</dt>
							<dd class="font-bold">
								<a class="anchor" href={data.event.organizer.announcements}>
									{fmtUrl(new URL(data.event.organizer.announcements))}
								</a>
							</dd>
						</span>
						<span class="badge p-3 variant-filled-secondary">
							<Icon class="h-auto aspect-square" data={faBullhorn} />
						</span>
					</div>
				{/if}
				<div>
					<span class="flex-auto">
						<dt class="text-sm">Based in</dt>
						<dd class="font-bold">{data.event.organizer.country.name}</dd>
					</span>
					<span class="badge p-3 variant-filled-secondary">
						<Icon class="w-auto aspect-square" data={faFlag} />
					</span>
				</div>
			</dl>
		</div>
	</div>
	{#if lat && lon}
		<div class="h-auto aspect-video rounded-lg xl:col-span-2">
			<iframe
				class="w-full h-full rounded-lg"
				title="OpenStreetMap"
				loading="lazy"
				src={`https://www.openstreetmap.org/export/embed.html?${new URLSearchParams({
					bbox: `${lon - mapZoom},${lat + mapZoom},${lon + mapZoom},${lat - mapZoom}`,
					marker: `${lat},${lon}`
				})}`}
			/>
		</div>
	{:else}
		<div
			class="h-auto aspect-video rounded-lg variant-ghost-secondary xl:col-span-2 flex flex-col justify-center"
		>
			<h2 class="h2 font-bold text-center p-4">We don't have an exact location for this venue</h2>
		</div>
	{/if}
</div>
